In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 3.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425345 sha256=cdd1a2c10cc3c23b6e0fca2f5dac181d1dcfcfe050d6e6f61def57b3f584e1df
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [2]:
import pyspark
from pyspark.sql import SparkSession
from pyspark import SparkContext
from pyspark import SparkFiles
spark = SparkSession.builder.appName("word count").getOrCreate()

In [3]:
def get_path(dataset_name,env_name='colab'):
    """
    This function is used to return the path of the dataset you want to use.

    @params:
    dataset_name: the name of the dataset.
    env_name: it has two values either local, or colab the default is colab
    """
    prefix = 'https://raw.githubusercontent.com/mohamed-ashry7/Data-Engineering-Lab/main/Datasets/'
    if env_name == 'colab':
        return prefix+dataset_name
    else:
        return f'../Datasets/{dataset_name}'

In [4]:
url = get_path("salary.csv")
spark.sparkContext.addFile(url)

df = spark.read\
.csv("file://"+SparkFiles.get("salary.csv"),header=True,inferSchema=True)
df.createOrReplaceTempView("Data")

In [5]:
df.show()

+---+-------------+--------+---+-------------+-------------------+------+
|_c0|     District|  Salary|Age|      English|          Education|Gender|
+---+-------------+--------+---+-------------+-------------------+------+
|  0|     Brooklyn|120000.0| 31|Only language|    Academic degree|  Male|
|  1|     Brooklyn| 45000.0| 28|Only language|    Academic degree|Female|
|  2|    Manhatten| 85000.0| 54|Only language|    Academic degree|  Male|
|  3|    Manhatten| 12000.0| 45|Only language|High school diploma|Female|
|  4|     Brooklyn|     0.0| 75|    Very well|    Academic degree|Female|
|  5|    Manhatten|225000.0| 47|    Very well|    Academic degree|  Male|
|  6|     Brooklyn| 55000.0| 37|Only language|    Academic degree|Female|
|  7|     Brooklyn| 50000.0| 37|Only language|    Academic degree|  Male|
|  8|     Brooklyn| 37000.0| 34|Only language|    Academic degree|Female|
|  9|     Brooklyn| 65000.0| 34|Only language|High school diploma|  Male|
| 10|     Brooklyn| 30000.0| 38|Only language|High school diploma|  Male|
| 11|     Brooklyn|   900.0| 65|Only language|    Academic degree|Female|
| 12|Staten Island|175000.0| 65|Only language|    Academic degree|Female|
| 13|Staten Island|     0.0| 35|Only language|High school diploma|  Male|
| 14|    Manhatten| 23000.0| 49|Only language|    Academic degree|  Male|
| 15|     Brooklyn|     0.0| 31|Only language|    Academic degree|  Male|
| 16|     Brooklyn| 72000.0| 47|    Very well|         No diploma|Female|
| 17|     Brooklyn| 97000.0| 23|Only language|    Academic degree|Female|
| 18|     Brooklyn| 35000.0| 45|Only language|High school diploma|  Male|
| 19|     Brooklyn| 38000.0| 45|Only language|         No diploma|Female|
+---+-------------+--------+---+-------------+-------------------+------+
only showing top 20 rows

### Question 1: Write SQL query to compare the average salary between different education levels.

### Question 2: Write SQL query to determine the gender distribution across different education levels.